body {
  margin: 0;
  padding: 0;
  background: url('23.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  font-family: 'Segoe UI', cursive;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-box {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Great Vibes', cursive;
  color: #A46FA6; /* darker lilac */
  font-size: 4em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 3s ease-in-out;
  z-index: 1;
  position: relative;
}

.subtext {
  font-size: 1.2em;
  color: #A46FA6;
  font-family: 'Segoe UI', cursive;
  margin-top: 10px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
  animation-delay: 2s;

  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.butterfly {
  position: absolute;
  width: 50px;
  opacity: 0;
  animation: fadeOnly 4s ease-in-out forwards;
  pointer-events: none;
}

@keyframes fadeOnly {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
